
/*Main CSS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #E64A19;
	font-size: 25px;
	line-height: 35px;
	color: #fff;
	word-wrap: break-word;
    font-family: "Open Sans",sans-serif;
    content: ' ';
    display: block;
	background-image: url("http://static.tumblr.com/b21df14bdff3fdc6cd5a82be7cb2b658/xfvl0kj/Rzanu7zq9/tumblr_static_3mlsjldai3eo4ksogo88kkss4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}


/*User Nav CSS*/

.user-menu {
	background-color: #e73f3f;
	height: 51px;
}

.user-menu .user-options {
	padding:0;
	margin: 0 7%;
	list-style: none;
	position: relative;
	text-transform: capitalize;
}

.user-menu .user-options li {
	height: 100%;
	display: inline-block;
	padding: 13px 10px;
}

.user-menu .user-options li a {
	padding: 0 5px;
	color:#fff;
	font-size: 16px;
	text-decoration: none;
}

.user-menu li:hover {
	background-color: #000;
}


/*Nav CSS*/



.menu-items {
	margin: 0;
	background-color: #fff;
}

.home-menu {
	padding: 0;
  margin: 0 7.5%;
	list-style: none;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	}
	
.home-menu >li {
	display: inline-block;
	background-color: #fff;
	}

.menu-items a {
	display: block;
	padding: 0 10px;	
	color: #000;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}

.menu-items li a:hover { 
	background-color: #000; 
}

.home-menu li a:hover {
	color: #fff;
}

.home-menu ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	
.home-menu li:hover > ul {
	display: inherit;
}
	
.home-menu ul li {
	width: 170px;
	float: none;
	display: list-item;
	position: relative;
	line-height: 20px;
	background-color: #fff;
}

.home-menu ul ul li {
	position: relative;
	top: -60px; 
	left: 170px;
}

.home-menu ul ul {
	background-color: #fff;
}

.home-menu ul ul li a {
	line-height: 30px;
}	

.home-menu li > a:after { 
	content: "˅";
	margin: 5px;
}
.home-menu li > a:only-child:after {
	content: ""; 
}

.logo {
	display: block;
	padding: 30px 60px 0 15px;
	float: left;
	font-size: 20px;
	line-height: 60px;
}
.game {
	color: #e73f3f;
	font-size: 33px;
	font-weight: bold;
}

.menu-items div {
	margin-right: 50px;
	margin-left: 135px;
}

/*End of menu CSS*/

/* Banner 1 */
.banner-top {
	display: block;
	margin: 48px auto;
	width: 970px;
	height: 250px;
}/* Banner 1 end */

/* Central column css */
.main-area {
	background-color: #fff;
	max-width: 1230px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border: 30px solid #fff;
	color: #000;
}

/*Carousel area banner */
.crsl-area-banner {
	width: 728px;
	height: 90px;
	margin-top: 72px;
	margin-bottom: 60px;
}/*End of carousel area banner */

.footer-menu li {
	display: inline-block;
}/* End of column css */
